:root {
    --blue-sapphire: #05668D;
    --steel-blue: #427AA1;
    --alice-blue: #EBF2FA;
    --maximum-green: #679436;
    --acid-green: #A5BE00;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    padding-top: 10px;
    height: 100vh;
    display: grid;
    grid-template-rows: 6fr 1fr;
    background-color: var(--blue-sapphire);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    background-color: var(--maximum-green);
}

.box {
    height: 170px;
    width: 170px;
    border: 0.5px solid var(--blue-sapphire);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: var(--acid-green);
}

.box:hover {
    cursor: pointer;
}

.players {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 30px;
}

.buttons {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 20px;
}

.reset {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: var(--steel-blue);
    color: var(--acid-green);
    font-size: 20px;
}

.reset:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 130ms;
}

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 95vh;
    left: 1vh;
    color: var(--acid-green);
}

.footer svg {
    padding-top: 5px;
    padding-left: 4px;
    fill: var(--acid-green);
    height: 19px;
}